---
interface Props {
  question: string;
  answer: string;
}

const { question, answer }: Props = Astro.props;
---

<div class="container flex justify-center items-center w-full h-auto">
    <div class="faqs sm:w-1/2 w-full h-auto border-b-2 border-primary">
        <div class="faq flex flex-col gap-7">
            <div class="head flex gap-7 items-center">
                <span class="question text-primary text-title hover:text-secondary transition-all duration-500 cursor-pointer">
                    {question}
                </span>
                <i class="i fa-solid fa-arrow-down text-primary text-2xl hover:text-secondary transition-all duration-500 cursor-pointer"></i>
            </div>
            <div class="content text-secondary overflow-hidden transition-all duration-500">
                <p class="answer inactive text-xl mb-7">
                    {answer}
                </p>
            </div>
        </div>
    </div>
</div>

<script src="../../assets/js/sumary.js"></script>

<style>
    
    .inactive {
        display: none;
        height: 0; 
        overflow: hidden; 
        padding: 0; 
        margin-bottom: 0; 
    }


    .active {
        display: block;
        height: auto; 
        overflow: visible; 
        padding-bottom: 1.75rem;
        margin-bottom: 1.75rem;
    }

    .answer {
        transition: height 0.3s ease, padding 0.3s ease, margin-bottom 0.3s ease; 
    }
</style>