---
import Layout from '../layouts/Layout.astro';

Astro.response.status = 404;

export const title = '404';
---

<Layout title={ title }>
	<section class="flex w-full items-center justify-center mt-16">
        <article class="flex flex-col items-center justify-center w-4/5 text-center">
            <i class="fa-solid fa-exclamation-circle text-primary text-6xl"></i>
            
            <h1 class="text-3xl text-primary mt-8">
                404 - ¡Página No Encontrada!
            </h1>

            <p class="text-secondary text-2xl mt-4">
                Lo sentimos, la página que estás buscando no existe.
            </p>

            <div class="text-secondary text-2xl flex items-center justify-center">
                <p class="flex">
                    Puedes volver a la
                </p> 

                <a href="/" class="flex gap-3">
                    página de 
                    <div class="flex items-center justify-center gap-2 text-primary hover:text-secondary transition-colors duration-300">
                        <i class="fa-solid fa-house"></i>
                        <span>inicio</span>
                    </div>
                </a>
            </div>
        </article>
    </section>
</Layout>