---
import Layout from '../layouts/Layout.astro';
import HeroPages from '../components/HeroPages.astro';
import CampoContacto from '../components/components gegnerales/CampoContacto.astro';
---

<Layout title="Contactanos">
  <HeroPages title='Contáctanos'/>

  <section class="flex flex-col justify-center items-center w-full">
    <article class="flex flex-col justify-center items-center w-4/5 gap-7">
      <p class="sm:text-xl text-2xs text-secondary">
        Si deseas ponerte en contacto con nosotros, realizarnos alguna pregunta o dejarnos algun comentario que nos permita mejorar nuestro servicio, lo puedes hacer a través de los siguientes medios, o si deseas, puedes escribirnos a través de este formulario de contacto.
      </p>

      <div class="flex w-full">
        <div class="flex gap4 sm:m-12 mb-10 justify-center items-center w-full">
          <CampoContacto />
        </div>
      </div>
    </article>

    <article class="flex flex-col justify-center items-center w-full gap-7">
      <h1 class="sm:text-title text-xl font-bold text-secondary pb-7">
        Cómo llegar a nosotros
      </h1>

      <iframe class="w-full sm:h-[500px] h-[300px]"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4210.655315223264!2d-75.48718893803519!3d5.050248444008161!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e47657786d86a8f%3A0x4a2bd5a37e31f3e6!2splaza%2070!5e0!3m2!1ses-419!2sco!4v1748440102040!5m2!1ses-419!2sco" width="600" height="600" 
        style="border:0;" 
        allowfullscreen="" 
        referrerpolicy="no-referrer-when-downgrade">
      </iframe>
    </article>
  </section>
</Layout>