<section class=" bg-yellow-500">
    <article class=" bg-blue-500">
        <h1 class="uppercase text-title text-secondary font-bold">
            Titulo
        </h1>

        <div>
            Imagen
        </div>

        <span>
            La cita
        </span>

        <p>
            Parrafo de la entrada
        </p>

    </article>
</section>