---
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
import Cardfaq from "../components/components gegnerales/CardFaq.astro";
---

<Layout title="faq">
    <HeroPages title="Preguntas Frecuentes" />

    <section class="w-full">
        <article class="flex flex-col justify-center items-center w-4/5 m-auto gap-7">
            <Cardfaq 
                question="¿Cuáles son los servicios incluidos en la tarifa de hospedaje?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿El hostal ofrece traslado al aeropuerto?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿Hay opciones de habitaciones familiares o individuales?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿El desayuno está incluido en la estadía?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿Cuáles son los horarios de check-in y check-out?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿El hostal cuenta con estacionamiento gratuito?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿Se permite el ingreso de mascotas?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿Qué lugares turísticos están cerca del hostal?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />

            <Cardfaq 
                question="¿Hay conexión WiFi gratuita en todas las habitaciones?"
                answer="Puedes pagar tu habitación de forma online o en persona. Para hacerlo online, puedes utilizar el método de pago de tu tarjeta de crédito o débito. Para pagar en persona, puedes hacerlo a través de un cajero en línea o a través de una oficina de cajeros."
            />
        </article>
    </section>
</Layout>