---
import Layout from "../layouts/Layout.astro";
import HeroPages from "../components/HeroPages.astro";
import Cardfaq from "../components/components gegnerales/CardFaq.astro";
---

<Layout title="faq">
    <HeroPages title="Preguntas Frecuentes" />

    <section class="w-full">
        <article class="flex flex-col justify-center items-center w-4/5 m-auto gap-7">
            <Cardfaq 
                question="¿Cuáles son los servicios incluidos en la tarifa de hospedaje?"
                answer="El hostal ofrece wifi gratis, traslado al aeropuerto, parking privado gratuito, habitaciones familiares, habitaciones sin humo y terraza."
            />

            <Cardfaq 
                question="¿El hostal ofrece traslado al aeropuerto?"
                answer="Sí, Canal Inn Panamá ofrece servicio de traslado al aeropuerto, aunque puede ser de pago."
            />

            <Cardfaq 
                question="¿Hay opciones de habitaciones familiares o individuales?"
                answer="Sí, el hostal cuenta con habitaciones familiares y habitaciones individuales."
            />

            <Cardfaq 
                question="¿El desayuno está incluido en la estadía?"
                answer="Según algunas reseñas, el hostal ofrece desayuno, pero no está claro si está incluido en todas las tarifas."
            />

            <Cardfaq 
                question="¿Cuáles son los horarios de check-in y check-out?"
                answer="La información sobre los horarios específicos de check-in y check-out no está detallada en los enlaces disponibles, pero generalmente los hostales permiten el check-in en la tarde y el check-out en la mañana."
            />

            <Cardfaq 
                question="¿El hostal cuenta con estacionamiento gratuito?"
                answer="Sí, Canal Inn Panamá ofrece parking privado gratuito para sus huéspedes."
            />

            <Cardfaq 
                question="¿Se permite el ingreso de mascotas?"
                answer="No hay información clara sobre si se permiten mascotas en el hostal."
            />

            <Cardfaq 
                question="¿Qué lugares turísticos están cerca del hostal?"
                answer="Canal Inn Panamá está cerca de Puente de Las Américas, Museo del Canal Interoceánico de Panamá, Ancon Hill, Estadio Maracaná y Centro comercial Albrook."
            />

            <Cardfaq 
                question="¿Hay conexión WiFi gratuita en todas las habitaciones?"
                answer="Sí, el hostal ofrece WiFi gratuito en todas las habitaciones."
            />
        </article>
    </section>
</Layout>