---
import Layout from '../layouts/Layout.astro';
import HeroPages from '../components/HeroPages.astro';
import TarjetaBienvenida from '../components/components gegnerales/TarjetaBienvenida.astro';
import BotomAction from '../components/components gegnerales/BotomAction.astro';
---

<Layout title=Nosotros>
	<HeroPages title='Nosotros'/>
    <TarjetaBienvenida 
        titleCard='Bienvenido a Canal Inn Hostal Panamá'
        p1='Tu hospedaje acogedor, cómodo y bien ubicado en la ciudad'
        p2='¿Buscas un lugar tranquilo, confortable y con excelente ubicación para tu estadía? Canal Inn Hostal es tu opción ideal. Te ofrecemos un ambiente relajado, perfecto para descansar y disfrutar al máximo de tu viaje.'
        BtUrl='/contactanos'
        BtValue='Reservar'
        BtBg='secondary'
    />

    <section class="flex sm:flex-row flex-col justify-center items-center w-full -mt-2">
        <article class="flex sm:flex-row flex-col justify-center items-center text-center sm:w-1/2 w-full">
            <div class="flex flex-col justify-center items-center sm:w-[40%] w-full h-full p-10">
                <h1 class="sm:text-title text-mtitle font-bold text-primary mb-4 sm:w-4/5 w-full">
                    Tu descanso comienza aquí
                </h1>

                <p class="text-secondary sm:text-parrafo text-mparrafo mb-6">
                    Contamos con habitaciones cómodas y climatizadas, equipadas con:
                </p>

                <p class="sm:text-parrafo text-mparrafo">
                    Aire acondicionado
                </p>
            
                <p class="sm:text-parrafo text-mparrafo">
                    Baño privado
                </p>

                <p class="sm:text-parrafo text-mparrafo">
                    Wi-Fi gratuito en todo el alojamiento
                </p>

                <!-- <div class="bg-primary w-full py-6">
                    <div class="flex flex-col sm:gap-6 gap-4 px-5 py-2 text-center sm:text-parrafo text-2xs text-white">
                        <p>
                            Aire acondicionado
                        </p>
                    
                        <p>
                            Baño privado
                        </p>

                        <p>
                            Wi-Fi gratuito en todo el alojamiento
                        </p>
                    </div>
                </div> -->

                <div class="mt-7">
                    <BotomAction 
                        urlDestino= "/habitaciones"
                        value= "Ver habitaciones"
                        bg= "secondary"
                    />
                </div>
            </div>

            <div class="flex justify-center items-center sm:w-1/2 w-full h-full p-10">
                <div class="border-6 border-primary w-full sm:h-85 h-40 bg-cover bg-center">
                    <div class="nosotrosuno w-full h-full object-cover bg-center"></div>
                </div>
            </div>
        </article>
    </section>

    <div class="flex justify-center w-screen bg-secondary">
        <section class="flex items-center justify-center bg-secondary">
            <article class="flex flex-col items-center text-white text-center py-15 sm:w-full w-4/5">
                <h1 class="sm:text-title text-mtitle sm:mb-15 mb-7">
                    Comodidades que marcan la diferencia
                </h1>

                <div class="flex sm:flex-row flex-col justify-center gap-16 sm:text-parrafo text-mparrafo w-4/5">
                    <ul class="text-start flex flex-col">
                        <li>Piscina al aire libre para refrescarte en cualquier momento</li>
                        <li>Jardín y terraza donde puedes relajarte o leer un buen libro</li>
                        <li>Sala común para compartir o descansar</li>
                        <li>Estacionamiento privado sin costo adicional</li>
                        <li>Pet friendly and gay friendly </li>
                        <li>Libre de humo (prohibido fumar)</li>
                        <li>Instalaciones con excelente limpieza</li>
                        <li>Transporte al aeropuerto disponible por $30 USD (requiere solicitud previa)</li>
                    </ul>
                    
                    <div class="sm:w-[600px] w-full sm:h-auto h-auto sm:border-8 border-5 border-primary">
                        <div class="bgimage-amenidades w-full h-full bg-cover bg-center"></div>
                    </div>
                </div>
            </article>
        </section>
    </div>

    <section class="flex sm:flex-row flex-col justify-center items-center w-full bg-[#e5dfcb]">
        <article class="flex sm:flex-row flex-col justify-center items-center text-center sm:w-1/2 w-full">
            <div class="flex justify-center items-center sm:w-1/2 w-full h-full sm:p-10 px-10">
                <div class="border-6 border-primary w-full h-85 bg-cover bg-center">
                    <div class="nosotrosdos w-full h-full object-cover bg-center"></div>
                </div>
            </div>

            <div class="flex flex-col justify-center items-center sm:w-1/2 w-full h-full p-10 sm:mt-0 mt-8">
                <h1 class="sm:text-title text-mtitle font-bold text-secondary mb-4 sm:w-4/5 w-full">
                    Ubicación conveniente para moverte con facilidad
                </h1>

                <p class="text-secondary sm:text-parrafo text-mparrafo mb-6">
                    Estamos situados en una zona estratégica, con fácil acceso al transporte público y a corta distancia de varios puntos clave de la ciudad: atracciones, restaurantes, zonas comerciales y más.
                </p>
            </div>
        </article>
    </section>

    <section class="flex justify-center items-center w-full bg-[#cabf96]">
        <article class="flex sm:flex-row flex-col justify-center items-center text-center sm:w-1/2 w-full">
            <div class="flex flex-col justify-center items-center sm:w-1/2 w-full h-full p-10">
                <h1 class="sm:text-title text-mtitle font-bold text-secondary mb-6 w-4/5">
                    Ideal para cualquier tipo de viajero
                </h1>

                <p class="text-secondary sm:text-parrafo text-mparrafo mb-6">
                    Ya sea que viajes por placer, negocios o simplemente busques un lugar tranquilo para desconectar, Canal Inn Hostal Panamá es tu punto de partida perfecto.
                </p>

                <span class="text-secondary font-bold sm:text-parrafo text-mparrafo mb-6">
                    Haz tu reserva hoy y prepárate para una experiencia cómoda y sin complicaciones
                </span>

                <div class="mt-5">
                    <BotomAction 
                        urlDestino= "/contactanos"
                        value= "Reservar"
                        bg= "secondary"
                    />
                </div>
            </div>

            <div class="flex justify-center items-center sm:w-1/2 w-full h-full sm:p-10 px-10 pb-10">
                <div class="border-6 border-secondary w-full h-85 bg-cover bg-center">
                    <div class="nosotrostres w-full h-full object-cover bg-center"></div>
                </div>
            </div>
        </article>
    </section>

    <section class="flex justify-center items-center w-full bg-secondary">
        <article class="flex justify-center items-center sm:w-[60%] w-4/5 py-12">
            <h1 class="sm:w-1/2 w-full text-center font-bold text-title text-primary">
                ¡En Canal Inn Hostal, te esperamos con los brazos abiertos!
            </h1>
        </article>
    </section>
</Layout>

<style>
    .nosotrosuno {
        background-image: url('../assets/libs/imgs/thumbnail_canalinn_habitacion_sencilla.jpg');
        background-size: cover;
        background-position: center;
    }

    .nosotrosdos {
        background-image: url('../assets/libs/imgs/thumbnail_foto_canalinn_bar.jpg');
        background-size: cover;
        background-position: center;
    }

    .nosotrostres {
        background-image: url('../assets/libs/imgs/thumbnail_foto_canalinn_piscina.jpg');
        background-size: cover;
        background-position: center;
    }

    .background-our {
        background-image: url('../assets/libs/imgs/1000343281-2.png');
        background-size: cover;
        background-position: center;
    }

    .bgimage-amenidades {
        background-image: url('../assets//libs//imgs/1000343287-2.png');
        background-size: cover;
        background-position: center;
    }

    ul {
        list-style-type: none; /* Elimina los estilos de lista predeterminados */
        padding-left: 0; /* Elimina el padding predeterminado del ul */
    }

    li {
        margin-bottom: 5px; /* Agrega espacio entre los elementos de la lista */
    }

    li:before {
        content: "\25CF";  /* Unicode para un círculo relleno */
        color: var(--color-white);     /* Color del círculo (puedes cambiarlo) */
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

</style>