---
import Layout from '../../layouts/Layout.astro';
import HeroPages from '../../components/HeroPages.astro';

import { getPostInfo /* getAllPostsSlugs */ } from '../../lib/wp';

const slug = Astro.params.slug
 if (!slug) return Astro.redirect('/404')

/* export async function getStaticPaths() {
    const slugs = await getAllPostsSlugs();

    return slugs.map((slug: string) => ({ params: { slug } }));
} */

const { title, content } = await getPostInfo(slug)

export const prerender = false
---

<Layout title="blog">
    <HeroPages title="Blog"/>

    <section class="flex flex-col w-full h-auto justify-center items-center">
        <article class="flex flex-col gap-7 w-4/5 h-auto justify-center items-center">
            <h1 class="text-secondary sm:text-title text-mtitle font-bold text-center sm:my-12 mb-10">
                { title }
            </h1>
            
            <div 
                class="text-secondary sm:text-parrafo text-mparrafo flex flex-col justify-center items-center gap-5 sm:w-1/2 w-full"
                set:html={ content }
            ></div>

            <div class="flex sm:w-1/2 hover:text-primary transition-all duration-500">
                <a class="flex flex-row gap-5 text-mtitle justify-start items-center mt-7 sm:w-1/2 cursor-pointer" href="../blog.html">
                    <i class="fa-solid fa-arrow-left"></i>
                    <p>
                        Regresar
                    </p>
                </a>
            </div>
        </article>
    </section>
</Layout>