<div id="scroll-up" class="fixed bottom-20 xl:left-[95%] sm:left-1/2 sm:-translate-x-1/2 left-[75%] w-15 h-15 rounded-full bg-primary text-white flex justify-center items-center cursor-pointer z-1000">
    <i class="fa-solid fa-arrow-up text-3xl sm:text-xl"></i>
</div>

<style>
    #scroll-up {
        animation: float 2s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(-30px);
        }
        100% {
            transform: translateY(0px);
        }
    }
</style>

<script is:inline>
    document.addEventListener('DOMContentLoaded', function() {
        const scrollUpButton = document.getElementById('scroll-up');

        scrollUpButton.addEventListener('click', function() {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
        });
    });
</script>