

<section class="flex justify-center mt-16 sm:h-auto h-full w-full">
    <article class="flex flex-col justify-center items-center w-4/5">
        <h2 class="uppercase sm:text-title text-xl text-center font-bold text-secondary">Bienvenidos a canal inn</h2>

        <div class="flex sm:w-[50%] w-full h-full sm:mt-2 sm:translate-x-[10px] translate-x-[20px]">
            <div class="flex sm:flex-row flex-col border-3 sm:m-12 m-6 border-primary sm:h-[500px] h-[650px] w-full">
                
                <div class="
                    flex sm:flex-row flex-col 
                    sm:gap-20 gap-5 
                    border-y-24 sm:border-b-24 border-l-12 border-white bg-white
                    sm:translate-x-[-100px] translate-x-[-50px] 
                    my-7
                    sm:h-auto h-[1000px]"
                    >
                    <div class="sm:w-[600px] w-full sm:h-full h-[200px] sm:border-8 border-5 border-primary">
                        <div class="bgimage w-full h-full bg-cover bg-center"></div>
                    </div>

                    <div class="flex flex-col justify-center items-center sm:w-[70%] w-4/5 text-center text-secondary">
                        <h2 class="sm:text-title text-xl font-bold mb-8">
                            Tu hospedaje acogedor, cómodo y bien ubicado en la ciudad
                        </h2>
                        
                        <p class="text-center sm:text-xl text-2xs">
                            ¿Buscas un lugar tranquilo, confortable y con excelente ubicación para tu estadía? Canal Inn Hostal es tu opción ideal. Te ofrecemos un ambiente relajado, perfecto para descansar y disfrutar al máximo de tu viaje
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
        
        
    </article>
</section>

<style>
    p {
        margin-bottom: 14px;
    }

    .bgimage {
        background-image: url('../assets/libs/imgs/340195972.jpg');
        background-size: cover;
        background-position: center;
    }
</style>



