---

interface Props {
    title: string;
    featuredImage: string;
    slug: string;
    excerpt: string;
    date: string; 
}


const { title, excerpt, featuredImage, slug, date } = Astro.props as Props;



const postDate = new Date(date);


const day = postDate.getDate();


const months = ["ENE", "FEB", "MAR", "ABR", "MAY", "JUN", "JUL", "AGO", "SEP", "OCT", "NOV", "DIC"];
const monthAbbreviation = months[postDate.getMonth()];

---

<section class="flex flex-col justify-start items-center w-full sm:h-full h-[600px]">
    <article class="flex flex-col items-center justify-start gap-4 sm:w-full w-4/5 sm:h-auto h-full text-secondary">

        <div class="group w-full h-[300px] object-cover overflow-hidden border-6 border-primary hover:border-secondary transition-all duration-500 relative cursor-pointer">
            <a href={`/post/${slug}`} class="block w-full h-full">
                <img
                    class="w-full h-full object-cover hover:scale-125 transition-all duration-500"
                    src={featuredImage}
                    alt="featuredImage"
                />
                <div class="absolute top-0 left-0 w-full h-full bg-primary opacity-0 group-hover:opacity-50 transition-all duration-500"></div>
                <div
                    class="absolute bottom-0 left-0 bg-primary text-white p-2 text-center">
                    
                    <div id="dia" class="text-3xl font-bold px-3">{ day }</div>
                    <div id="mes" class="text-2xs">{ monthAbbreviation }</div>
                </div>
            </a>
        </div>

        <div class="font-bold sm:text-title text-mtitle text-center text-secondary hover:text-primary transition-all duration-500 cursor-pointer">
            <a href={`/post/${slug}`}>
                <h1>{ title }</h1>
            </a>
        </div>

        <!-- <div class="sm:text-xl text-2xs text-justify" set:html={ excerpt }></div> -->
        <div class="excerp text-justify" style="font-size: clamp(0.8rem, 2vw, 1.2rem);" set:html={ excerpt }></div>

        <div class="flex justify-between w-full h-auto">
            <a href={`/post/${slug}`} class="font-bold text-secondary text-mparrafo uppercase hover:text-primary hover:ml-1 transition-all duration-500">
                Leer más...
            </a>

            <a href={ slug }>
                <i class="hover:text-primary hover:mr-1 transition-all duration-500 text-parrafo font-bold fa-solid fa-plus"></i>
            </a>
        </div>
    </article>
</section>

<style>
    .excerp {
        line-height: 1.1;
    }
</style>