<!-- ---
import BotomAction from "./components gegnerales/BotomAction.astro"
--- -->

<section class="flex justify-center mt-16 h-[75%] habitacionescover bg-cover bg-center">
    <article class="flex flex-col justify-center items-center gap-7 h-full w-full pt-1">
        <div class="flex flex-col items-center gap-7 h-[80%] w-full ">
            <div class="flex w-full justify-center">
                <div class="flex flex-col w-4/5 h-full justify-end items-end gap-7 imageinfo bg- bg-center">
                    <div class="flex items-center justify-center h-full bg-white">
                       
                        <div class="flex m-6 border-4 border-primary">
                            



                            <div class="flex flex-col my-5 w-full h-full justify-center items-center gap-4">
                                <h1 class="uppercase text-secondary text-center text-2xl">Habitacion doble</h1>
                            
                                <p class="text-center text-1xs text-secondary">
                                    Tamaño 20 m²<br>
                                    2 camas individuales<br>
                                    Camas cómodas: 6.3, según 4 comentarios<br>

                                    Servicios:<br>
                                    Terraza, Ropa de cama, Enchufe cerca de la cama,<br>
                                    Armario, Acceso a pisos superiores solo mediante escaleras,<br>
                                    Aire acondicionado individual para cada alojamiento, Desinfectante de manos.<br>
                                    Política de humo:  no se puede fumar.
                                </p>

                                <h1 class="text-secondary text-3xl">$ 155.99</h1>

                                <!-- <div>
                                    <BotomAction urlDestino="reservaciones.html" value="Reservar" />
                                </div> -->
                            </div>

                        </div>


                        



                    </div>
                </div>
            </div>

            <div class="flex items-center justify-center w-4/5 bg-white">
                    <div class="flex gap-7 w-full h-[300px] m-7">
                        <div class="habitacionuno bg-cover bg-center flex justify-center items-center bg-blue-500 w-full h-full">
                            <img src="" alt="">
                        </div>

                        <div class="habitaciondos bg-cover bg-center flex justify-center items-center bg-blue-500 w-full h-full">
                            <img src="" alt="">
                        </div>

                        <div class="habitaciontres bg-cover bg-center flex justify-center items-center bg-blue-500 w-full h-full">
                            <img src="" alt="">
                        </div>
                    </div>
                <div>
            </div>
        </articl>
    </article>
</section>

<style>
    .habitacionescover {
        background-image: url('../assets/libs/imgs/1000343286-2.png');
        background-size: cover;
        background-position: center;
    }

    .habitacionuno {
        background-image: url('../assets/libs/imgs/409641642.jpg');
        background-size: cover;
        background-position: center;
    }

    .habitaciondos {
        background-image: url('../assets/libs/imgs/1000343294.jpg');
        background-size: cover;
        background-position: center;
    }

    .habitaciontres {
        background-image: url('../assets/libs/imgs/425562641.jpg');
        background-size: cover;
        background-position: center;
    }

    .imageinfo {
        background-image: url('../assets/libs/imgs/1000343304.jpg');
        background-size: cover;
        background-position: center;
    }
</style>