---
import Logocompleto from "../assets/libs/icons astro/Logocompleto.astro"

/* interface Props {
    page_open: string;
    page_title: string;
}

const { page_open, page_title } = Astro.props; */

interface Props {
  page_title: string;
  page_open?: string;
}

const { page_title } = Astro.props;
console.log("page_title:", page_title); // Para debug
const page_open = page_title.toLowerCase(); // Convierte a minúsculas
const url = page_open === 'inicio' ? '/' : `/${page_open}`;
---

    <a href={ url } class="flex items-center">
        <i class="sm:hidden w-42 text-white">
            <Logocompleto />
        </i>
        { page_title }
    </a>


